$hover-effect-duration: 1s;

body {
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 30px auto 0;
}

.people {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  max-width: 1024px;
  margin-left: 55px;
}

.person {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.photo {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

img {
  max-width: 100%;
  border-radius: 50%;
  transition: transform $hover-effect-duration;
}

.rank {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8B0000;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  transition: width $hover-effect-duration, height $hover-effect-duration;
}

.details {
  position: relative;
  text-align: center;
}

.name {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin-top: 10px;
  font-size: 20px;
  transition: font-size $hover-effect-duration, color $hover-effect-duration;
}

.extra {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin-top: 5px;
  opacity: 0;
  transition: opacity $hover-effect-duration;
}

.person:hover .extra {
  opacity: 1;
}

.sport,
.pay {
  flex: 1;
  transition: font-size $hover-effect-duration, background-color $hover-effect-duration;
}

.pay::before {
  content: ",$";
}

.person:hover .sport, .pay {
  background-color: #EEEEEE;
}

.person:hover .name {
  color: #ffcc00;
  font-size: 24px;
  background-color: #EEEEEE;
}

.person:hover .rank {
  width: 19px;
  height: 19px;
}

.person:hover img {
  transform: scale(1.1);
  border-radius: 60px;
}

@media (max-width: 750px) {
  .people {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: 1000px) {
  .people {
    grid-template-columns: repeat(4, 200px);
  }
}